@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
a{
    text-decoration: none;
    color: black;
    text-align: center;
}
html{
    font-family: 'Montserrat', sans-serif; 
}
body{
    background: url(assets/3cc5496bc53c6cf827dfb5308aae8844.jpg);
}
.main_hd{
    width: 100%;
    height: 15vh;

    background-size: cover;
}
.box-content-title-variation {
    text-align: center;
    padding: 3%;
}
.main_hd .main_hd-title{
    background-color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 1%;
}
.main_bd .main_bd-link{
    display: flex;
    justify-content: center;
    font-size: 2em;
}
.main_bd .main_bd-content {
    width: 30%;
    margin: 1%;
    background: #ffc801;
    height: 64vh;
}
.main_bd .main-pic-box{
    width: 100%;
    display: flex;
    
    align-items: center;
    
}
.main_bd .media-img{
    border-radius: 5px;
}
.main_bd .box-content-title{
    margin-top: 4%;
    padding: 2%;
}
.main_bd .box-content-p{
    font-size: 1.2em;
    font-weight: 500;
    padding: 2%;
}
.main-pic-box img{
    width: 100%;
    padding: 1%;
    
}
.box-content{
    background-color: #ffc801;
    margin: 1%;
}
.box-content img{
    background-color: #ffc801;
    margin-bottom: 2%;
}
.main_bd .main_bd-title {
    background-color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 1%;
}
.main_bd .gallery{
    background: #ffc801 ;
}
.main_bd .gallery-img{
    width: 100%;
    margin: 2%;
    
}